Build started...
Build succeeded.
IF OBJECT_ID(N'[__EFMigrationsHistory_SqlServer]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory_SqlServer] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory_SqlServer] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
CREATE TABLE [DashboardWidgets] (
    [Id] TEXT NOT NULL,
    [WidgetType] TEXT NOT NULL,
    [PositionIndex] INTEGER NOT NULL,
    [IsVisible] INTEGER NOT NULL DEFAULT CAST(1 AS INTEGER),
    CONSTRAINT [PK_DashboardWidgets] PRIMARY KEY ([Id])
);

CREATE TABLE [Folders] (
    [Id] TEXT NOT NULL,
    [Name] TEXT NOT NULL,
    [OrderIndex] INTEGER NOT NULL,
    [Icon] TEXT NOT NULL DEFAULT 'folder',
    CONSTRAINT [PK_Folders] PRIMARY KEY ([Id])
);

CREATE TABLE [Notes] (
    [Id] TEXT NOT NULL,
    [Title] TEXT NOT NULL,
    [Content] TEXT NOT NULL,
    [CreatedAt] TEXT NOT NULL,
    [UpdatedAt] TEXT NOT NULL,
    [FolderId] TEXT NULL,
    CONSTRAINT [PK_Notes] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Notes_Folders_FolderId] FOREIGN KEY ([FolderId]) REFERENCES [Folders] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [NoteRevisions] (
    [Id] TEXT NOT NULL,
    [NoteId] TEXT NOT NULL,
    [ContentSnapshot] TEXT NOT NULL,
    [SavedAt] TEXT NOT NULL,
    CONSTRAINT [PK_NoteRevisions] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_NoteRevisions_Notes_NoteId] FOREIGN KEY ([NoteId]) REFERENCES [Notes] ([Id]) ON DELETE CASCADE
);

CREATE INDEX [IX_NoteRevisions_NoteId] ON [NoteRevisions] ([NoteId]);

CREATE INDEX [IX_Notes_FolderId] ON [Notes] ([FolderId]);

INSERT INTO [__EFMigrationsHistory_SqlServer] ([MigrationId], [ProductVersion])
VALUES (N'20260428225915_SqliteInitial', N'10.0.7');

COMMIT;
GO

BEGIN TRANSACTION;
CREATE TABLE [DashboardWidgets] (
    [Id] uniqueidentifier NOT NULL,
    [WidgetType] nvarchar(64) NOT NULL,
    [PositionIndex] int NOT NULL,
    [IsVisible] bit NOT NULL DEFAULT CAST(1 AS bit),
    CONSTRAINT [PK_DashboardWidgets] PRIMARY KEY ([Id])
);

CREATE TABLE [Folders] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(128) NOT NULL,
    [OrderIndex] int NOT NULL,
    [Icon] nvarchar(64) NOT NULL DEFAULT N'folder',
    CONSTRAINT [PK_Folders] PRIMARY KEY ([Id])
);

CREATE TABLE [Notes] (
    [Id] uniqueidentifier NOT NULL,
    [Title] nvarchar(256) NOT NULL,
    [Content] nvarchar(max) NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NOT NULL,
    [FolderId] uniqueidentifier NULL,
    CONSTRAINT [PK_Notes] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Notes_Folders_FolderId] FOREIGN KEY ([FolderId]) REFERENCES [Folders] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [NoteRevisions] (
    [Id] uniqueidentifier NOT NULL,
    [NoteId] uniqueidentifier NOT NULL,
    [ContentSnapshot] nvarchar(max) NOT NULL,
    [SavedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_NoteRevisions] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_NoteRevisions_Notes_NoteId] FOREIGN KEY ([NoteId]) REFERENCES [Notes] ([Id]) ON DELETE CASCADE
);

CREATE INDEX [IX_NoteRevisions_NoteId] ON [NoteRevisions] ([NoteId]);

CREATE INDEX [IX_Notes_FolderId] ON [Notes] ([FolderId]);

INSERT INTO [__EFMigrationsHistory_SqlServer] ([MigrationId], [ProductVersion])
VALUES (N'20260428230013_SqlServerInitial', N'10.0.7');

COMMIT;
GO


